---
import InlineLink from "@components/InlineLink.astro";
import PrimaryButton from "@components/PrimaryButton.astro";
import SecondaryButton from "@components/SecondaryButton.astro";
import SkillCard from "@components/SkillCard.astro";
import Layout from "@layouts/Layout.astro";

import mechImage from "@assets/photos/build-4.jpg";
import cadImage from "@assets/photos/cad-1.jpg";
import codeImage from "@assets/photos/code.jpg";
import elecImage from "@assets/photos/elec.jpg";
import heroImage from "@assets/photos/game-6-darkened.jpg";
import shirtImage from "@assets/photos/team-shirt.jpg";
import { getImage } from "astro:assets";

// TODO: This generates a jpg for some reason??
const heroSrc = `url(${await getImage({
  src: heroImage,
  alt: "EMU 4729 robot in game",
  format: "webp",
}).then((image) => image.src)})`;
---

<Layout title="Home | EMU Robotics">
  <!-- HERO SECTION-->
  <section
    class="min-h-[60vh] text-white flex flex-col place-content-center text-center hero-bg"
  >
    <div
      class="self-center max-w-2xl flex flex-col gap-4 fade-in-up p-5 rounded-lg bg-black bg-opacity-40 backdrop-blur-lg"
    >
      <!-- this is uppercase because the font looks weird with correct casing -->
      <h1 class="text-6xl font-heading font-bold drop-shadow-sm">
        EMU ROBOTICS
      </h1>
      <p class="text-lg">
        We are EMU Robotics, an Australian robotics team housed in

        <!--
            we need these prettier-ignore statements because astro (for some reason)
            inserts a space in generated markup on every new line, and prettier
            auto-newlines long lines so it sucks

            if you don't get what i mean, just remove the prettier-ignore's (and reformat) and you'll see
          -->

        <!-- prettier-ignore -->
        <InlineLink href="https://www.unsw.edu.au">UNSW</InlineLink>. EMU
        competes in the

        <!-- prettier-ignore -->
        <InlineLink href="https://firstaustralia.org/programs/first-robotics-competition/"
          >FIRST Robotics Competition</InlineLink>
        and

        <!-- prettier-ignore -->
        <InlineLink href="https://firstaustralia.org/programs/first-lego-league/"
          >FIRST Lego League</InlineLink>.
      </p>
      <p class="text-lg font-bold">
        Welcoming school students of any experience level.
      </p>
      <div class="flex justify-center gap-2">
        <PrimaryButton href="/join">Join Us</PrimaryButton>
        <SecondaryButton href="#about">Learn More</SecondaryButton>
      </div>
    </div>
  </section>

  <!-- TAGLINE SECTION -->
  <section
    id="about"
    class="bg-red-100 text-white py-10 px-5 flex flex-col text-center"
  >
    <div class="self-center max-w-4xl flex flex-col gap-5 fade-in-up">
      <h1 class="font-bold text-4xl">
        Propelling young people into engineering by facilitating STEM learning
      </h1>
      <h2 class="font-bold text-2xl">
        Enthusiastic Students + 10 Weeks = 1 Competitive Robot
      </h2>
    </div>
  </section>

  <!-- SKILL AREAS SECTION -->
  <section class="mt-10 px-5 md:px-36 flex flex-col gap-2">
    <h1 class="font-bold text-3xl">Skill Areas</h1>
    <p class="text-xl text-gray-40 dark:text-gray-70">
      Building a robot requires a wide range of skills, all of which you'll have
      a chance to learn. <em>You do not need any prior experience;</em> our mentors
      are here to develop your skills.
    </p>
  </section>

  <div class="mt-5 px-5 flex flex-col gap-3 fade-in-up">
    <SkillCard title="Computer Aided Design (CAD)" image={cadImage}>
      <i class="fa fa-file-pen" slot="icon"></i>
      <span slot="description"
        >The goal of the CAD sub-team is to create digital models of our robots
        and other important components. We use these designs to create
        prototypes of our ideas. Occasionally, we 3D print or laser cut our
        CADed components for use on our robot. Eventually, we would like to use
        our CAD models to manufacture parts using more advanced methods like CNC
        milling.
      </span>
    </SkillCard>
    <SkillCard title="Mechanical" image={mechImage}>
      <i class="fa fa-hammer" slot="icon"></i>
      <span slot="description"
        >The mechanical sub-team builds the robot using the models that our CAD
        team made. Due to the small nature of our team, there is a large overlap
        between the mechanical and CAD sub-teams. Typically, a majority of our
        robot is built manually with hand tools. There is a plus side - students
        learn hands-on skills. However, methods like CNC milling are far more
        accurate and take far less time.
      </span>
    </SkillCard>
    <SkillCard title="Software" image={codeImage}>
      <i class="fa fa-code" slot="icon"></i>
      <span slot="description"
        >The software sub-team focuses on developing the code that drives our
        robot. Sadly, it is often the smallest team as many students think they
        could never code. We would like to change that perception.</span
      >
    </SkillCard>
    <SkillCard title="Electrical" image={elecImage}>
      <i class="fa fa-bolt" slot="icon"></i>
      <span slot="description"
        >The electrical sub-team focuses on the electrical components and wiring
        of the robot. Skills taught include soldering and wiring skills.
        Electrical bridges the gap between code and mechanical. Always have to
        be cautious electrical is not left for the end!
      </span>
    </SkillCard>
    <SkillCard title="Media" image={shirtImage}>
      <i class="fa fa-camera" slot="icon"></i>
      <span slot="description"
        >Being on a robotics team is not solely about the robots. The media
        sub-team is focused on the promotion and outreach of our team. They take
        photos at the events we attend and maintain our internet presence. They
        are also involved with obtaining sponsorship for our team.
      </span>
    </SkillCard>
  </div>

  <!-- AGE DEMOGRAPHICS SECTION -->
  <section
    class="my-10 px-5 md:px-36 flex flex-col items-center text-center gap-3 fade-in-up"
  >
    <h1 class="font-bold text-3xl">Who it's for</h1>
    <div class="flex gap-3">
      <div
        class="border-1 border-gray-70 dark:border-gray-30 rounded-lg p-3 flex flex-col items-center gap-1"
      >
        <h2 class="font-bold text-xl">EMU Chicks</h2>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Years 2-5 (Ages 7-10)
        </h3>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Mondays 4:30 PM to 6:30 PM
        </h3>
      </div>
      <div
        class="border-1 border-gray-70 dark:border-gray-30 rounded-lg p-3 flex flex-col items-center gap-1"
      >
        <h2 class="font-bold text-xl">Junior Team (FLL)</h2>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Years 5-8 (Ages 10-14)
        </h3>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Mondays 6:30 PM to 8:30 PM
        </h3>
      </div>
      <div
        class="border-1 border-gray-70 dark:border-gray-30 rounded-lg p-3 flex flex-col items-center gap-1"
      >
        <h2 class="font-bold text-xl">Senior Team (FRC)</h2>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Years 8-12 (Ages 14+)
        </h3>
        <h3 class="text-lg text-gray-40 dark:text-gray-70">
          Wednesdays 4:30 PM to 8:30 PM
        </h3>
      </div>
    </div>
    <h3 class="text-lg text-gray-40 dark:text-gray-70">
      <strong>Location:</strong> Lab G14, UNSW School of Electrical Engineering and
      Telecommunications
    </h3>
    <PrimaryButton href="/join">Join Us</PrimaryButton>
  </section>

  <!-- MAP SECTION -->
  <iframe
    title="EMU Robotics on Google Maps"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.905712724222!2d151.22946261534418!3d-33.917826180642635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b18a49200f77%3A0x22ef11c818e4830!2sSchool%20of%20Electrical%20Engineering%20and%20Telecommunications!5e0!3m2!1sen!2sau!4v1657507239460!5m2!1sen!2sau"
    class="border-0 w-full min-h-[50vh]"
    allowfullscreen="false"
    referrerpolicy="no-referrer-when-downgrade"
    loading="lazy"></iframe>
</Layout>

<style define:vars={{ heroSrc }}>
  .hero-bg {
    background: var(--heroSrc) no-repeat;
    background-size: cover;
  }
</style>
